<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="header :: header">...</div>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th> itemName</th>
        <th> quantity</th>
        <th> price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.items}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.price}"></td>


    </tr>

    </tbody>
</table>
</body>
</html>
