<html xmlns:th="http://www.thymeleaf.org">
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

        <ul class="navbar-nav">
            <li><h2 style="color:white" th:if="${currentUser!='anonymousUser'}">
                [[${currentUser}]]
            </h2></li>
            <li>
                <div th:if="${currentUser=='anonymousUser'}">
                    <a th:href="@{/login}" class="btn btn-primary">Login</a>
                </div>
                <div th:unless="${currentUser=='anonymousUser'}">
                    <a th:href="@{/logout}" class="btn btn-primary">Logout</a></p>
                </div>
            </li>
            <li><a th:href="@{/cart/{username}(username=${currentUser})}" class="nav-link">View Cart</a></li>
            <li><a th:href="@{/shop}" class="nav-link">Shop</a></li>
            <li><a th:href="@{/pagedItems}" class="nav-link">Items in pages</a></li>

        </ul>

    </nav>

</header>
