<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<div th:insert="header :: header">...</div>

<table border="1">
    <thead>
    <tr>
        <th th:text="id" />
        <th th:text="name" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, iStat : ${itemPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${item.id}" />
        <td th:text="${item.itemName}" />
    </tr>
    </tbody>
</table>
<div th:if="${itemPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listBooks(size=${itemPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==itemPage.number + 1} ? active"></a>
</div>
</body>
</html>
