<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Online Shop</title>
</head>
<body>
<div th:insert="header :: header">...</div>

<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th> itemName</th>
        <th> price</th>
        <th> description</th>
        <th> quantity</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.quantity}"></td>
        <td> <a th:href="@{/addToCart/{id}/user/{username}(id=${item.id},username=${currentUser})}" class="btn btn-success">Add to cart</a></td>

    </tr>
    </tbody>
    <tbody>

    </tbody>
</table>
</body>
</html>
