<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div th:insert="header :: header">...</div>

<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Password</th>
        <th></th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td> <a th:href="@{/edituser/{id}(id = ${user.id})}" class="btn btn-warning">Edit</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>
